/* for small size devices */

@media screen and (max-width: 576px) {
  .nav-info {
    flex-direction: column;
  }
  .nav-container {
    flex-direction: column;
    width: 100%;
    padding-top: 102px;
  }
  .nav-info {
    padding-top: 40px;
    margin-bottom: 30px;
  }
  .banner-container {
    flex-direction: column-reverse;
    margin-top: 80px;
    width: 100%;
    justify-content: center;
    margin-left: 10px;
  }
  .banner-description {
    width: auto;
    /* align-items: center;
    justify-content: center; */
    margin-top: 100px;
  }
  .banner-description p {
    margin: 10px auto;
    padding-left: 30px;
  }
  .banner-image,
  .banner-description {
    width: 100%;
  }
  .follow {
    margin-bottom: 140px;
  }
  /* banner sec ends */
}

/* for medium size devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav-info {
    flex-direction: column;
  }
  .nav-container {
    flex-direction: column;
    width: 100%;
    padding-top: 102px;
  }
  .nav-info {
    padding-top: 40px;
    margin-bottom: 30px;
  }
  .nav-container {
    flex-direction: column;
    width: 100%;
    padding-top: 102px;
  }
  .nav-info {
    padding-top: 40px;
    margin-bottom: 30px;
  }
  .banner-container {
    flex-direction: column-reverse;
    margin-top: 80px;
    width: 100%;
    justify-content: center;
    margin-left: 10px;
  }
  .banner-description {
    width: 700px;
    /* align-items: center;
    justify-content: center; */
    margin-top: 100px;
  }
  .banner-description p {
    margin: 20px auto;
    padding-left: 200px;
  }
  .banner-image,
  .banner-description {
    width: 100%;
  }
  .follow {
    margin-bottom: 140px;
  }
}
