/* for small size devices */

@media screen and (max-width: 576px) {
  .nav-info {
    flex-direction: column;
  }
  .nav-container {
    flex-direction: column;
    width: 100%;
    padding-top: 102px;
    margin-top: 100px;
  }
  .nav-info {
    padding-top: 40px;
    margin-bottom: 30px;
  }
  .banner-container {
    flex-direction: column-reverse;
    margin-top: 80px;
    justify-content: center;
    margin-left: 10px;
  }
  .banner-description {
    width: auto;
    /* align-items: center;
    justify-content: center; */
    margin-top: 100px;
  }
  .banner-description p {
    margin: 10px auto;
    padding-left: 30px;
  }
  .banner-image,
  .banner-description {
    width: 100%;
  }
  .follow {
    margin-bottom: 140px;
  }
  /* banner sec ends */
  .sec3-card-container {
    width: 90%;
    flex-direction: column;
  }
  .section3-container {
    flex-direction: column;
  }
  .card {
    margin: 20px auto;
  }
  .sec4-container {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 300px;
  }
  .sec4-img-parent {
    width: 60%;
  }
  .sec4-img-parent img {
    width: 100%;
  }
  .sec4-img-child {
    top: 65%;
    right: 60%;
    left: -20px;
  }
  .sec4-img-parent {
    margin-top: 100px;
  }
  .first-five-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .section5-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin: 0px auto;
    font-size: 20px;
    width: 100%;
  }

  .footer-info {
    flex-direction: column;
  }
  .last-info p {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

/* for medium size devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav-info {
    flex-direction: column;
  }
  .nav-container {
    flex-direction: column;
    width: 100%;
    padding-top: 102px;
  }
  .nav-info {
    padding-top: 40px;
    margin-bottom: 30px;
  }
  .nav-container {
    flex-direction: column;
    width: 100%;
    padding-top: 200px;
  }
  .nav-info {
    padding-top: 40px;
    margin-bottom: 30px;
  }
  .banner-container {
    flex-direction: column-reverse;
    margin-top: 140px;
    width: 100%;
    justify-content: center;
    margin-left: 10px;
    padding-top: 100px;
  }
  .banner-description {
    width: 700px;

    padding-bottom: 40px;
  }
  .banner-description p {
    margin: 20px auto;
    padding-left: 200px;
  }
  .banner-image,
  .banner-description {
    width: 100%;
  }
  .follow {
    margin-bottom: 140px;
  }
  .sec3-card-container {
    width: 90%;
    flex-direction: column;
  }
  .section3-container {
    flex-direction: column;
  }
  .card {
    margin: 20px auto;
  }
  .sec4-container {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 300px;
  }
  .sec4-img-parent {
    width: 60%;
  }
  .sec4-img-parent img {
    width: 100%;
  }
  .sec4-img-child {
    top: 65%;
    right: 65%;
  }
  .sec4-img-parent {
    margin-top: 100px;
  }
  .first-five-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 30%;
  }
  .section5-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto;
  }
}
